.title {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 5px;
}

.calculadora {
    border: 5px solid rgb(87, 87, 87);
    border-radius: 10px;
    background: #b8b8b8;
    width: fit-content;
    margin: auto;
    font-size: 28px;
    padding: 30px 10px;
}

.contenido {
    border: 2px solid black;
    background: white;
    padding: 20px;
    height: 20px;
    width: auto;
}

#n0 {
    width: 128px;
}

#resultado {
    width: 128px;

}

#punto {
    background: white;
    border: 1.5px solid black;

}

button {
    background: white;
    border: 1.5px solid black;
    width: 60px;
    height: 60px;
}

button:hover {
    background: #c1bdff;
    transition: 300ms ease;
}

.numeros div {
    text-align: center;
}

.numeros button {
    margin-top: 5px;
}


.botones {
    margin-top: 20px;
    display: flex;
}

.igual {
    margin-top: 15px;
    padding: 40px 15px;
    text-align: center;
}