.title{
    text-align: center;
    margin-top: 50px;
    padding-bottom:5px;
}

.calculadora{
    border: 5px solid rgb(87, 87, 87);
    border-radius: 10px;
    background: #b8b8b8;
    width: fit-content;
    margin:auto;
    font-size: 28px;
    padding: 30px 10px;
}
.contenido{
    border: 2px solid black;
    background:white;
    padding: 10px;
}
.resultado{
    padding: 10px;
}

button{
    background: white;
    border: 1.5px solid black;
    padding: 15px;
}
button:hover{
    background:#c1bdff;
    transition: 300ms ease;
}
.numeros div{
    text-align: center;
}
.numeros{
    padding: 0px 0px -10px 0px;
}
.numeros button{
    margin-top:5px ;
}
.signos{
    padding: 0px 12px 0px 0px 
}
.signos button{
    margin-left: 20px;
    margin-top: 5px;
    display: block;
    width: 50px;
}
.botones{
    margin-top: 20px;
    display: flex;
}
.numeros .igual{
    margin-top: 15px;
    padding: 10px 60px;
    text-align: center;
}
.signos .raiz{
    margin-left: 20px;
}
